
.container {
    position: absolute;
    top: 70px;
    left: 17rem;
    background-color: #F5F5F5;
    width: 1210px;
    height: 650px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    font-family: 'Roboto';
}

.text {
    position: absolute;
    left: 20%;
    top: 4.5%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.logo {
    position: absolute;
    left: 85%;
    top: 2.5%;
}

.datePicker {
    position: absolute;
    left: 4%;
    top: 12%;
    font-family: "Roboto";
    font-size: 14px;
}

.textDatePicker {
    color: #000000;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Roboto';
    text-align: center;
}

.classDatePicker {
    border-radius: 3px;
    border: 1px solid #000000;
    background: #eed9d9;
    width: 10rem;
    height: 2rem;
    text-align: center;
}

.tabla {
    width: 20rem;
    height: 17.3rem;
    border: 1px solid #3C3C3C;
    border-radius: 15px;
    background: #FFFFFF;
    overflow: hidden;
    text-align: center;
    font-size: 15px;
    margin-left: 0.1rem;
    position: absolute;
    left: 19.5rem;
    top: 7.3rem; 
}

.text1 {
    color: #000000;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Roboto';
    text-align: center;
    margin-top: 4.8rem;
    margin-right: 17rem;
}

.text2 {
    color: #000000;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Roboto';
    text-align: center;
    margin-top: -2.5rem;
    margin-left: 39rem;
}

.tabla2 {
    width: 33.5rem;
    height: 17.3rem;
    border: 1px solid #3C3C3C;
    border-radius: 15px;
    background: #FFFFFF;
    overflow: hidden;
    text-align: center;
    font-size: 15px;
    margin-left: 1rem;
    position: absolute;
    left: 39.8rem;
    top: 7.3rem; 
}

.selected {
    border-color: #000000;
    border-style: double;
    cursor: pointer !important;
}

.notSelected {
    cursor: pointer !important;
}

@media screen and (min-width: 1800px) {
    .container {
        width: 1590px;
        height: 860px;
    }

    .text {
        left: 17%;
        top: 3%;
    }

    .logo {
        left: 89%;
        top: 2%;
    }

    .textDatePicker {
        font-size: 18px;
    }

    .tabla {
        left: 24rem;
        top: 9rem; 
    }

    .tabla2 {
        left: 47.5rem;
        top: 9rem; 
    }

    .text1 {
        margin-top: 6.5rem;
        margin-right: 31rem;
    }

    .text2 {
        margin-top: -2.5rem;
        margin-left: 30rem;
    }
}

@media screen and ( max-width: 1366px ) {
    .text {
        font-size: 16px;
        left: 22%;
        top: 2.5%;
    }

    .logo {
        top: 0.5%;
    }

    .container {
        width: 1040px;
        height: 600px;
        top: 52px;
    }

    .textDatePicker {
        font-size: 15px;
    }

    .tabla {
        left: 19.5rem;
        top: 6.8rem; 
        font-size: 14px;
        width: 17.5rem;
    }

    .tabla2 {
        left: 37.5rem;
        top: 7rem; 
        width: 24rem;
    }

    .text1 {
        margin-top: 4.5rem;
        margin-right: 9rem;
        font-size: 15px;
    }

    .text2 {
        margin-top: -2.5rem;
        margin-left: 35rem;
        font-size: 15px;
    }
}
