.text {
    position: absolute;
    left: 20%;
    top: 4.5%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.logo {
    position: absolute;
    left: 85%;
    top: 2.5%;
}

.excel{
    position: absolute;
    left: 83%;
    top: 2%;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    border-radius: 5px;
    color: #3C3C3C !important;
    font-family: "Roboto";
    font-weight: 800;
    background-color: transparent;
    width: 164px;
    height: 37px;
}

.container {
    position: absolute;
    top: 70px;
    left: 17rem;
    width: 1200px;
    height: 660px;
    background: #F5F5F5;
    overflow: hidden;
    z-index: -1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    font-family: 'Roboto';
    padding: 5rem 2.5rem 0 2.5rem;
}

.icon3 {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
    margin-bottom: 0.3rem;
}

.tableContainer {
    /*centrada en el centro de la pantalla*/
    border-radius: 30px;
    overflow: hidden;
    background: #FFFFFF;
    height: 33.5rem;
    font-size: 14px;
}

.containerPaginado{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 7.5rem;
    height: 3rem;
    margin-left: 62rem;
}

.btnPaginado{
    background: transparent;
    cursor: pointer;
}

.textPaginado{
    color: #d9d9d9;
    font-size: "Roboto";
    font-weight: bold;
}

.contPaginado{
    border-radius: 6px;
    border: none;
    width: 39px;
    height: 20px;
    text-align: center;
}

@media screen and ( min-width: 1800px ) {

    .container {
        top: 100px;
        width: 1590px;
        height: 670px;
    }

    .tableContainer {
        height: 33.5rem;
    }

    .text {
        left: 16%;
        top: 4.9%;
    }

    .logo {
        left: 90%;
        top: 3.5%;
    }

    .containerPaginado{
        margin-left: 85rem;
    }
}

@media screen and ( max-width: 1366px ) {

    .text {
        font-size: 16px;
        left: 22%;
        top: 2.5%;
    }

    .logo {
        top: 0.5%;
    }

    .container {
        width: 1040px;
        height: 618px;
        top: 52px;
    }

    .tableContainer {
        height: 32rem;
    }

    .tabla {
        font-size: 12px;
    }

    .containerPaginado{
        margin-left: 52.5rem;
        margin-top: -0.5rem;
    }

    .excel{
        width: 135px;
        height: 33px;
        font-size: 14px;
        top: 1.3rem;
        left: 82%;
    }
}

