@media screen and (min-width: 1800px) {
  .chat-modal {
    position: fixed;
    bottom: 1.7rem;
    right: 103rem;
    width: 247px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: height 0.3s;
    display: flex;
    flex-direction: column;
  }

  .minimized {
    height: 40px;
  }

  .chat-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #dcdcdc;
    cursor: pointer;
  }

  .chat-title {
    font-weight: bold;
    font-size: 13px;
    font-family: "Roboto";
    font-style: normal;
  }

  .chat-options {
    display: flex;
    align-items: center;
  }

  .minimize-button {
    background: none;
    border: none;
    font-size: 16px;
    color: #777777;
    cursor: pointer;
  }

  .chat-body {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
  }

  .messages {
    display: flex;
    flex-direction: column-reverse;
  }

  .message {
    margin-bottom: 10px;
  }

  .user-message {
    color: black;
    font-size: 13px;
    font-family: "Roboto";
    font-style: normal;
  }

  .bot-message {
    font-size: 13px;
    color: green;
    font-family: "Roboto";
    font-style: normal;
  }

  .input-container {
    display: flex;
    align-items: center;
  }

  input[type="text"] {
    flex: 1;
    padding: 1px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 30px;
    font-family: "Roboto";
    font-style: normal;
  }

  .send-button {
    background-color: #5e5f5f;
    font-family: "Roboto";
    font-style: normal;
    color: white;
    border: 1px solid black;
    padding: 1px 8px;
    border-radius: 5px;
    margin-left: 5px;
    cursor: pointer;
  }

  .send-button:hover {
    color: #5e5f5f;
    background-color: #f5f5f5;
  }
}
