.grafica {
    position: absolute;
    width: 23rem;
    height: 23rem;
    left: 25rem;
    top:20rem;
}

.text {
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
}

.grafica2 {
    position: absolute;
    width: 23rem;
    height: 23rem;
    left:52rem;
    top:20rem
}

@media screen and (min-width: 1800px) {
    .grafica {
        width: 30rem;
        height: 30rem;
        left: 22rem;
        top:23rem
    }
    
    .grafica2 {
        width: 30rem;
        height: 30rem;
        left:62rem;
        top:23rem
    }
}

@media screen and ( max-width: 1366px ) {
    .grafica {
        width: 20rem;
        height: 20rem;
        left: 23rem;
        top:18.5rem
    }
    
    .grafica2 {
        width: 20rem;
        height: 20rem;
        left:48rem;
        top:18.5rem
    }
}