.icon {
    margin-left: 82rem;
    margin-top: 1rem;
}

.text {
    position: absolute;
    left: 20%;
    top: 4.5%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.tableContainer {
    border-radius: 30px;
    height: 33.5rem;
    overflow: hidden;
    /* background del color de la tabla */
    background: #FFFFFF;
    font-family: "Roboto";
    text-align: center;
}

.datePicker {
    position: absolute;
    left: 6%;
    top: 3%;
    font-family: "Roboto";
}

.classDatePicker {
    border-radius: 3px;
    border: 1px solid #000000;
    background: #ffffff;
    width: 7rem;
    height: 1.5rem;
    text-align: center;
    font-size: 13px;
}

.tabla {
    font-size: 14px;
    overflow: hidden;
}

.container {
    position: absolute;
    top: 70px;
    left: 17rem;
    width: 1200px;
    height: 660px;
    background: #F5F5F5;
    overflow: hidden;
    z-index: -1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    font-family: 'Roboto';
    padding: 1rem 2.5rem 0 2.5rem;
}

.inline {
    display: inline !important;
    position: relative;
}


@media screen and (min-width: 1800px) {
    .container {
        width: 1590px;
        height: 870px;
    }

    .tableContainer {
        height: 46rem;
    }

    .icon {
        margin-left: 105rem;
    }

    .text {
        left: 17%;
        top: 3%;
        line-height: 29px;
    }
}

@media screen and (max-width: 1366px) {
    .text {
        font-size: 16px;
        left: 22%;
        top: 3%;
    }

    .icon {
        margin-left: 73rem;
        margin-top: 0.3rem;
    }

    .container {
        width: 1040px;
        height: 590px;
        top: 52px;
    }

    .tableContainer {
        height: 30rem;
    }

    .tabla {
        font-size: 12px;
    }
}